body {
  
  background: rgb(200,198,226);
  background: linear-gradient(90deg, rgba(200,198,226,1) 0%, rgba(108,158,212,1) 40%, rgba(28,95,221,1) 100%);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}




#linkNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; 
  width: 100vw;
  padding: 3px;
  margin-left: 5px;
  margin-right: 5px;
  
}
.itemNav{
  margin: 8px;
}
.deconnexion{
  color: red;
 
}
.mYLT{

  color: black;
 
}
#form{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 88vh;
  
  color: white;
}
.copyright{
  text-align: center;
  
}
#oneWayForm{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  height: 120px;
  
  padding-left: 25%;
  padding-bottom: 12px;
  color: white;
}
.img{
  width: 16vw;
  height: 29vh;
  margin-top: 40px;
}
.blockImg{
  text-align: center;
  margin-bottom: 250px;
}